body{
    margin: 0px;
}
main{
    background-color: antiquewhite;
    width: 100%;
    margin-top: 100px;
}
.noidung{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    background-color: aqua;
}
.trai{
    width: 60%;
    padding-left: 20px;
    font-size: x-large;
    padding-top: 20px;
}
.phai{
    
}
.nhap{
    
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: 2px solid white;

}